html {
  font-family: Tahoma, sans-serif;
}

/* Exercise wrapper */
.exercise {
  border: 5px solid slateblue;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
  position: relative;
  counter-increment: exerciseNumber;
}

.exercise::after {
  content: "Exercise " counter(exerciseNumber);
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  color: brown;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
